#header {color:rgb(17, 5, 23);text-align: center; font-family: "Times New Roman", Times, serif;
  font-optical-sizing: auto;
  font-weight: 50px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;text-decoration: underline;}
.nav-menu{list-style-type:none; display:flex;margin:0 auto;padding:0;justify-content: center;
background-color:black;border-radius:10px;color:#f9f9f9}
.nav-menu li{margin: 0 15px;}
.logo{display:flex;align-self:flex-start;
margin:0 auto;
padding:0;}
h3{text-align: center;}
body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: rgb(108, 156, 189);text-align: center;padding:50px};
p{text-align: justify; font: size 36px;;font-family: 'Times New Roman', Times, serif, sans-serif;}
.verses{display:flex;width:400px;text-align:center;}
.card{display:flex; flex-direction:column-reverse; 
  text-align: center;
  justify-content: space-evenly;
  flex-wrap:wrap;
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px;
  width: 355px;
  border: 5px  #0e406e;
  border-radius: 10px;
box-sizing:border-box;
}

